body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px 20px;
}

.column {
  flex: 1;
}

.scatter-plot-container {
  grid-column: span 3;
}

.line-chart-container, .bar-chart-container {
  grid-column: 2;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

#back-button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #357daf;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
  height: 40px;
  border-radius: 4px;
}

#back-button:hover {
  background-color: #0056b3;
}

#year {
  margin: 12px 18px;
  font-size: 14px;
  width: 100px;
  height: 30px;
}

.year-label {
  margin-top: 18px;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  font-size: 14px;
  pointer-events: none;
  border: 1px solid rgb(196, 193, 193);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-container {
  grid-column: span 1;
  padding: 0 16px;
  border-left: 1px solid #a09d9d;
}

.legend {
  margin-top: 40px;
  max-height: 450px;
  overflow: auto;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.legend-color {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-text {
  font-size: 14px;
}

.legend-item-hidden {
  opacity: 0.5;
}

.dot, .data-circle, .bar {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  background-color:whitesmoke;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  /* border-bottom: 1px solid #ccc; */
  /* color: white; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 32px;
  margin: 0;
}

.header-subtitle {
  font-size: 24px;
  color: #0959b1;
  margin-top: 0;
  margin-bottom: 0px;
  text-decoration: underline;
  text-align: center;
}

.blue {
  color: #0959b1;
}

